body {
  background-color: #004;
  background-size: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 15pt;
  font-family: "Fredoka One";
}

sm {
  font-size: 10pt;
}

h2 {
  margin: 0px;
}

#year {
  font-size: 40pt;
  font-weight: bold;
  color: #000;
}

#panel {
  background-color: #FFFFFF80;
  width: 300px;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes yellowfade {
  0% {
    text-shadow: 0 0 5px #DFDF00, 0 0 25px #DFDF00;
    color: #DFDF00;
  }
  50% {
    text-shadow: 0 0 5px #FFFF00, 0 0 25px #FFFF00;
    color: #FFFF00;
  }
  100% {
    text-shadow: 0 0 5px #DFDF00, 0 0 25px #DFDF00;
    color: #DFDF00;
  }
}

@keyframes darkyellowfade {
  0% {
    text-shadow: 0 0 5px #000, 0 0 25px #000;
    color: #000;
  }
  50% {
    text-shadow: 0 0 5px #202000, 0 0 25px #202000;
    color: #202000;
  }
  100% {
    text-shadow: 0 0 5px #000, 0 0 25px #000;
    color: #000;
  }
}

@keyframes timer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@font-face {
  font-family: "Fredoka One";
  src: url(FredokaOne-Regular.ttf);
}